---
import { type CollectionEntry, getCollection, render } from "astro:content";

import ArchiveReason from "#components/ArchiveReason.astro";
import PageHeading from "#components/PageHeading.astro";
import GlobalLayout from "#layouts/GlobalLayout.astro";

import "#styles/blog.css";

export async function getStaticPaths() {
	const posts = await getCollection("blog", ({ data }) =>
		import.meta.env.PROD ? !data.draft : true,
	);

	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const { title, description, date, archived, archiveReason } = post.data;

const formatter = new Intl.DateTimeFormat("en-US", {
	dateStyle: "long",
});
---

<GlobalLayout
	title={title}
	description={description}
	ogImageUrl={`${Astro.url}/og-image.png`}
	itemscope
	itemtype="https://schema.org/BlogPosting"
>
	{
		archived && archiveReason && (
			<ArchiveReason archived={archived} archiveReason={archiveReason} />
		)
	}

	<PageHeading
		eyebrowText={formatter.format(date)}
		eyebrowProps={{ itemprop: "datePublished" }}
		slotIsHeading
		itemprop="headline">{title}</PageHeading
	>

	<div class="article-content" itemprop="articleBody"><Content /></div>
</GlobalLayout>

<style>
	.article-content {
		max-width: 65ch;
		margin-inline: auto;
		line-height: var(--line-height-prose);
	}
</style>
