//-dependencies

//- colorizers ---------------------------------------------------------------------------------------------------------------------
mixin theme-color(color)
  meta(name="theme-color", content=color)

mixin preview-color(color)
  pre(name="preview-color", content=color).hide

//- projects -----------------------------------------------------------------------------------------------------------------------
mixin project-preview(id, color, href, title, desc)
  a(href=href)
    section.preview(class=id)
      +preview-color(color)
      .grid
        .row.clearfix
          .col.col--two-thirds
            h2.preview__title!= title
            p.preview__desc!= desc
          .col.col--third.preview__arrow__parent
            i.fa.fa-4x.fa-arrow-right.preview__arrow

mixin project(id, title, desc)
  article.project(class=id)
      header.project__header(class=id+"__header")
        .grid
          .row.clearfix
            .col
              h1.project__header__headline!= title
              p.project__header__description!= desc
      section.project__main-content
        if block
          block
        else
          .grid
            .row.clearfix
              .col
                p There should be things here, but there aren&rsquo;t things here.

mixin next-project
  .grid
    .row.clearfix
      .col
        h3.is-themed view another project

//- pages --------------------------------------------------------------------------------------------------------------------------
mixin page-preview(id, color, href, title)
  a(href=href)
    section.preview(class=id)
      +preview-color(color)
      .grid
        .row.clearfix
          .col.col--two-thirds
            h2.preview__title!= title
          .col.col--third.preview__arrow__parent
            i.fa.fa-4x.fa-arrow-right.preview__arrow

mixin page(id, title, desc)
  article.page(class=id)
      header.page__header(class=id+"__header")
        .grid
          .row.clearfix
            .col
              h1.page__header__headline!= title
              p.page__header__description!= desc
      section.page__main-content
        if block
            block
          else
            .grid
              .row.clearfix
                .col
                  p There should be things here, but there aren&rsquo;t things here.

//- Project Previews ------------------------------------------------------------------------------------------------------------------
mixin 2015-preview
  +project-preview("twok15-preview", "#c0392b", "//lowmess.com/work/2015", "2015", "desktop wallpaper calendars for the year 2015")

mixin 2015-january-preview
  +project-preview("january-2015-preview", "#2c3e50", "//lowmess.com/work/2015/january", "January", "start the year off with chaos &amp; swiss-inspired design")

mixin 2015-february-preview
  +project-preview("february-2015-preview", "#3498db", "//lowmess.com/work/2015/february", "February", "a typographic calendar-a-day")

mixin 2015-march-preview
  +project-preview("march-2015-preview", "#336666", "//lowmess.com/work/2015/march", "March", "geometry &amp; 1950&rsquo;s portraiture")

//-mixin 2015-april-preview
//-mixin 2015-may-preview
//-mixin 2015-june-preview
//-mixin 2015-july-preview
//-mixin 2015-august-preview
//-mixin 2015-september-preview
//-mixin 2015-october-preview
//-mixin 2015-november-preview
//-mixin 2015-december-preview

mixin bells-brewery-preview
  +project-preview("bells-brewery-preview", "#ac9732", "//lowmess.com/work/bells-brewery", "Bell&rsquo;s Brewery", "redesigning Michigan&rsquo;s favorite brewery")

mixin illustration-preview
  +project-preview("illustration-preview", "#2c3e50", "//lowmess.com/work/illustration", "Illustration", "t-shirt graphics, abstract imagery, &amp; photo collages")

mixin lennys-burger-preview
  +project-preview("lennys-burger-preview", "#ffcc22", "//lowmess.com/work/lennys-burger", "Lenny&rsquo;s Burger", "diner-inspired rebranding &amp; web design")

mixin posters-preview
  +project-preview("posters-preview", "#bdc3c7", "//lowmess.com/work/posters", "Posters", "an exploration of design&rsquo;s most economical form")

//- Page Previews ------------------------------------------------------------------------------------------------------------------
mixin contact
  +page-preview("contact-preview", "#2980b9", "//lowmess.com/contact", "get in touch")

mixin view-work
  +page-preview("view-work", "#f5f5f5", "//lowmess.com/work", "view all work")

mixin head-home
  +page-preview("head-home", "#f39c12", "//lowmess.com", "head home")
