---
import "sanitize.css";
import "sanitize.css/assets.css";
import "sanitize.css/reduce-motion.css";
import "sanitize.css/typography.css";

import { SITE_DESCRIPTION, SITE_TITLE } from "#consts.ts";

type Props = {
	title?: string;
	description?: string;
	image?: string;
};

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const titleSuffix = `• ${SITE_TITLE}`;
const pageTitle = title ? `${title} ${titleSuffix}` : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- RSS Feed -->
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={`${Astro.site}rss.xml`}
/>

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={title} />
<meta name="description" content={pageDescription} />

<!-- Theming -->
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#e8e6e3" />
<meta name="apple-mobile-web-app-title" content={title} />
<meta name="application-name" content={title} />
<meta name="msapplication-TileColor" content="#f2930d" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f2930d" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={pageDescription} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta name="twitter:site" content="@lowmess" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={pageDescription} />

<!-- preload display fonts -->
<link
	rel="preload"
	href="/fonts/strawford-bold-webfont.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>
