mixin project-preview(project, reverse)
  .flex.flex-column.flex-row-ns.items-center.mv4(class=reverse ? 'justify-end-ns' : 'justify-start-ns')
    a.db.mb2.mb3-ns.mb0-ns.mw6.grow.br1(href="/" + project.path.toLowerCase(), class=reverse ? 'ml5-l order-2-ns' : 'mr5-l')
      img(src=project.preview).w-100.db.br1
    div.mt2.mt0-ns.bg-white.br1-m.pa4-m.z-1(class=reverse ? 'order-1-ns tr-ns mrn5-m' : 'mln5-m')
      h4.mt0.mb2.mb3-ns.f4.f3-ns.fw6: +link("/" + project.path.toLowerCase())= project.title
      p.f4-ns.mt2.mt3-ns.mb0.measure.lh-copy!= project.description
